{% include head-dark.html %}

<div>
  <div class="home-image-container">
    <img class="home-image" src="{{ site.url }}/images/viaduct_black_type.png" />
  </div>
</div>

<div class='bump'>
    <section class="article archive">
      <article class="archive-wrap">
          <ol class="post-list">
              {% for post in paginator.posts %}
              <li class="index-post">
                <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h1 class="index-post-title"><a class="index-post-title-link" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                    <p class="date">
                        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
                    </p>
                    <div class="index-post-content">
                        {{ post.content }}
                    </div>
                </div>
              </li>
              {% endfor %}
          </ol>
      </article>
    </section>

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}

        <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}
    </div>
</div>

{% include footer.html %}
